.input{
    background-color: #a6cdea;
    padding: 8px;
    margin: 5px;
    width: 50vh;
    height: 3vh;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

